*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $black;
  scroll-behavior: smooth;
  z-index: 1;
  background: $white;

  &.active {
    overflow: hidden;
  }
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:focus,
:active {
  outline: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 1205px){
    max-width: 992px;   
    }

    @media screen and (max-width: 992px){
      max-width: 768px;   
    }
    @media screen and (max-width: 768px){
      max-width: 738px;   
    }
    @media screen and (max-width: 576px){
      max-width: 546px;   
    }
    @media screen and (max-width: 320px){
      max-width: 310px;   
    }


}

// .visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   transition: all 0.3s ease 0s;
// }
