
.header {
    
    &__text {
        background-color: $blue;
        height: 50px;   
        font-weight: 700;
        text-align: center;
        align-items: center;
        font-size: 36px;
        line-height: 43.2px;
        color: $white;
    }

    &__basic {
        padding-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
 
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
   
       
    }

    &__flag{
        margin-left: 8px;
    }
}
