.survey {
    
    margin-top: 100px;
    margin-bottom: 169.78px;
   
    &__start{
        display: flex;
        justify-content: space-between;       
        align-items: center;

        @media screen and (max-width: 992px){
           
            flex-direction: column-reverse;
        }

    }
    &__preview {
       
        max-width: 708px;
        font-size: 16px;
        line-height: 21.79px; 
    }
        
       

    &__preview-text {
        padding-bottom: 34px;
      
    }

    &__wrapper-img {
        margin-left: 20px;
        @media screen and (max-width: 992px){
            margin-bottom: 50px;
        }

       
    }
    &__preview-attention {
        font-weight: 700;
       
       
    }

}

.form {
    margin-top: 16px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;     

        @media screen and (max-width: 750px){
            display: block;
            text-align: center;
        }
    }
    &____info{
        margin-right: 20px;
    }

    &__input {
        border: 1px solid #ADADAD;
        border-radius: 10px;
        max-width: 464px;
        width: 100%;
        padding: 21px 17.7px;
        

    }

    &__button {
       
        background: $pink;
        border: 1px solid $pink;
        border-radius: 10px;
        max-width: 224px;
        width: 100%;
        height: 59px;
        align-items: center;        
        font-size: 18px;
        line-height: 24.51px;
        font-weight: 800;
        color: #FFFFFF;
        cursor: pointer;
      

       &:hover{
          border: 1px solid $pink;
          background: $white;
          color: $pink ;
        }
    }

    &__notice{
        font-size: 10px;
        line-height: 13.62px;
        margin-top: 9px;
        max-width: 460px;

        @media screen and (max-width: 750px){
            margin: 9px auto;
        }

       
        
    }
}
.error {  
    width  : 100%;
    font-size: 85%;
    color: rgb(243, 22, 22);

.errorText {
    width  : 100%;
    font-size: 85%;
    color:  rgb(243, 22, 22);

}

}
.survey-question {
    background: url("../img/BG.png")  no-repeat center/cover; 
    min-height: 740px;  
    width: 100%;
    margin-top: 118px;
    margin-bottom: 100px;

    @media screen and (max-width: 992px){     
        margin-top: 50px;
         
      }
}

.survey-step {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 992px){
       flex-direction:column;
       align-items: center;
       
    }

    &__title {
        margin-top: 113px ;
        max-width: 351px;
        align-items: flex-start;

        @media screen and (max-width: 992px){
           text-align: center;
           margin-bottom: 36px;
           margin-top: 68px ;
            
         }
         
    }


    &__caption {
        
        font-size: 36px;
        line-height: 43.2px;
        font-weight: 700;
    }

    &__border {
       max-width: 528px;
       width: 100%;
       background: rgba(249, 249, 249, 1) ;
       position: relative;
       top: -75px;
       box-shadow:  -5px 2px 30px;

       @media screen and (max-width: 992px){
        position: static;
        
     }
        
       
    }
}


.form-survey {    

    
    &__wrapper  {
         display: flex;
         flex-direction: column;
         padding: 33px 20px 30px;  
                   
    }

    &__radio {
        padding: 18px 0 20px;
        position: relative;
        cursor: pointer;
        border-bottom: 2px solid rgba(34, 34, 34, 0.2);
        
        
        ::before {
            position: absolute;
            content: '';
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid $black;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);                 
        }   
    
       
    }
   
    

    &__radiotext {
        
        font-size: 16px;
        line-height: 21.79px;
        margin-left: 46px;
  
       
    }

    &__button {
        background: $pink;
        border: 1px solid $pink;
        border-radius: 10px;
        max-width: 488px;
        width: 100%;
        padding: 17px 220px;
        margin-top: 25px;
        font-size: 18px;
        line-height: 24.51px;
        color: #FFFFFF;
        cursor: pointer;
    

        &:hover{
            border: 1px solid $pink;
            background: $white;
            color: $pink ;
          }

        }
       &__line{
           margin-left: 20px;
           width: 488px;
           height: 2px;          
           background: rgba(34, 34, 34, 0.2);
       }
       &__textarea{
           margin-top: 15px;
           max-width: 488px;
           min-height: 200px;
           border:2px solid rgba(34, 34, 34, 0.2);
           border-radius: 10px;
           padding: 15px;
           &.hide{
               display: none;
           }
       }
  
       
}

input[type="radio"] {
    appearance: none;
   }
input[type="radio"]:checked+ label ::before{ 
      background:$pink;

}



.endStep {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.survey-endstep {          

		&__title {
            font-size: 36px;
            line-height: 43.2px;
            font-weight: 700;      
            border-bottom: 2px solid #666666; 
            padding: 128px 0 48px;
		}
        &__wrapper{

            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #666666; 
            padding-bottom: 39.18px;
            margin-bottom: 100px;

        }


        &__progressbar{
            padding: 118px 0 48px;  
        }

	
		&__processing {
            max-width: 711px;
            width: 100%;
            margin-right: 97.02px;
          
           
		}

		&__text {
            font-size: 16px;
            line-height: 21.79px;
            text-align: left;
            margin-bottom: 19px;          
		}

		&__picture {
            width:407px ;
            width: 100%;
           
		}
}


.publicity {
    
    padding: 100px 0;
    background-color: rgba(1, 10, 67, 0.05);

    &__border{
        background-color: $white ;
        padding: 32px 102px; 
        border: 2px solid #F9F9F9;
        //box-shadow: rgba(0, 0, 0, 0,25) 0px 4px 13px;
        margin-bottom: 24px;

    }

    &__poster {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    @media screen and (max-width: 992px){
        flex-direction:column;      
        
     }
        
    }

    &__img {
        max-width: 386px;
        width: 100%;
        @media screen and (max-width: 992px){
            margin-bottom: 25px;      
            
         }
    }

    &__content {
        max-width: 488px;
    }
    &__title{
        font-size: 16px;
        line-height:21.79px;
        font-weight: 700;
        margin-bottom: 25px;

    }

    &__text {
        font-size: 16px;
        line-height:21.79px;
        margin-bottom: 45px;
    }

    &__price {
        font-size: 16px;
        line-height:21.79px;
        margin-bottom: 22px;
    }

    &__button {
        background: $pink;
        border: 1px solid $pink;
        border-radius: 10px;
        max-width: 488px;
        width: 100%;
        padding: 17px 181px;
        font-size: 18px;
        line-height: 24.51px;
        color: #FFFFFF;
        cursor: pointer;
        

        &:hover{
            border: 1px solid $pink;
            background: $white;
            color: $pink ;
          }
    }
}
.red {
    color:$red;
    text-decoration: line-through;
}
.green {
    color:$green;
}

.review {
    padding: 100px 220px;

    &__body{
        max-width: 712px;
        margin: 0 auto;

    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid rgba(196, 196, 196, 1); 

        @media screen and (max-width: 768px){
          display: block;
             
          }       
        }
        &__box:last-child{
            border-bottom: 2px solid rgba(196, 196, 196, 1);            
        }
   
    &__about {
        max-width: 549px;
        width: 100%;     
    }

    &__name {
        font-size:24px;
        line-height:32.68px;
        font-weight: 600;
        margin-top: 16px;
        
    }
    

    &__text {
        font-size:16px;
        line-height:21.79px;
        margin-top: 8px;
   
    }

    &__data {
        font-size:16px;
        line-height:21.79px;
        color:rgb(174, 156, 156); 
        margin: 16px 0;       
    }
}
.survey-finish {
    &__title {
        font-size: 36px;
        line-height:43px;
        font-weight: 700;
        text-align: center;
        margin: 100px  0 48px;
       

    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        border-top: 2px solid #C4C4C4;
        border-bottom: 2px solid #C4C4C4;
        margin-bottom: 100px;
        
    }

    &__about {
        max-width: 711px;
        width: 100%;
       
       
    }
    &__text {  font-size: 16px;
        line-height:21.79px;
        margin-bottom: 25px;
        span{
            font-weight: 700;
        }
    
       
    }

    &__picture {
        max-width: 407px;
        width: 100%;
    }

}


//progress BAR

.loadingProgressG {
   
}

#loadingProgressG{
    
	width:711px;
	height:10px;
	overflow:hidden;
	background-color:rgba(167, 129, 129, 0.2);
	margin:auto;
	border-radius:4px;	

.loadingProgressG{
	background-color: $pink;
	margin-top:0;
	margin-left:-711px;
	animation-name:bounce_loadingProgressG;	
	animation-duration:8.0s;	
	animation-iteration-count:infinite;
	animation-timing-function:linear;		
	width:711px;
	height:10px;
}



@keyframes bounce_loadingProgressG{
	0%{
		margin-left:-711px;
	}

	100%{
		margin-left:711px;
	}
}

}