.survey {
    margin-top: 100px;
    margin-bottom: 169.78px;
   

    &__body { 
       

       
    }
    &__start{
        display: flex;
        justify-content: space-between;       
        align-items: center;

    }
    &__preview {
       
        max-width: 708px;
        font-size: 16px;
        line-height: 21.79px; 
    }
        
       

    &__preview-text {
        padding-bottom: 34px;
      
    }

    &__wrapper-img {
        margin-left: 20px;
       
    }
    &__preview-attention {
        font-weight: 700;
       
    }

}

.form {
    margin-top: 16px;
    

   
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;      
      
    }
    &____info{
        margin-right: 20px;
        


    }

    &__input {
        border: 1px solid #ADADAD;
        border-radius: 10px;
        max-width: 464px;
        width: 100%;
        padding: 21px 17.7px;
        

    }

    &__button {
       
        background: $pink;
        border: 1px solid $pink;
        border-radius: 10px;
        max-width: 224px;
        width: 100%;
        height: 59px;
        align-items: center;
        
        font-size: 18px;
        line-height: 24.51px;
        font-weight: 800;
        color: #FFFFFF;
      

       &:hover{
          border: 1px solid $pink;
          background: $white;
          color: $pink ;
        }
    }

    &__notice{
        font-size: 10px;
        line-height: 13.62px;
        margin-top: 9px;
        
    }
}
.survey-question1 {
    background: url("../img/BG.png")  no-repeat center/cover; 
    min-height: 740px;  
    width: 100%;
    margin-top: 118px;
    margin-bottom: 100px;
}

.survey-step {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    
   
    
    &__title {
        margin-top: 113px ;
        max-width: 412px;
        align-items: flex-start;
        
    }


    &__caption {
        
        font-size: 36px;
        line-height: 43.2px;
        font-weight: 700;
    }

    &__border {
       max-width: 528px;
       width: 100%;
       background: rgba(249, 249, 249, 1) ;
       position: relative;
       top: -75px;
       
    }
}


input[type="radio"] {
    appearance: none;
    position: relative;
}


input[type="radio"]:checked+.form-survey__radio::after {
    background: $pink;
}


.form-survey {    

    &__wrapper  {
         display: flex;
         flex-direction: column;            
    }

    &__radio {
        padding: 18px 20px 20px;

        ::before {
            position: absolute;
            content: '';
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid $black;
            left: 16px;
            // top: 50%;
            // transform: translateY(-50%);
        }        
    }

    

    &__radio-text {
        
        font-size: 16px;
        line-height: 21.79px;
        margin-left: 46px;
       
    }

    &__button {
        background: $pink;
        border: 1px solid $pink;
        border-radius: 10px;
        max-width: 488px;
        width: 100%;
        padding: 17px 220px;
        font-size: 18px;
        line-height: 24.51px;
        color: #FFFFFF;
        margin: 25px 20px 38px;

        &:hover{
            border: 1px solid $pink;
            background: $white;
            color: $pink ;
          }

        }
       &__line{
           margin-left: 20px;
           width: 488px;
           height: 2px;          
           background: rgba(34, 34, 34, 0.2);


       }
}






