@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: Bold;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: ExtraBold;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: SemiBold;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #222222;
  scroll-behavior: smooth;
  z-index: 1;
  background: #F9F9F9;
}

body.active {
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__text {
  background-color: #010A43;
  height: 50px;
  font-weight: 700;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  line-height: 43.2px;
  color: #F9F9F9;
}

.header__basic {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flag {
  margin-left: 8px;
}

.survey {
  margin-top: 100px;
  margin-bottom: 169.78px;
}

.survey__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survey__preview {
  max-width: 708px;
  font-size: 16px;
  line-height: 21.79px;
}

.survey__preview-text {
  padding-bottom: 34px;
}

.survey__wrapper-img {
  margin-left: 20px;
}

.survey__preview-attention {
  font-weight: 700;
}

.form {
  margin-top: 16px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form____info {
  margin-right: 20px;
}

.form__input {
  border: 1px solid #ADADAD;
  border-radius: 10px;
  max-width: 464px;
  width: 100%;
  padding: 21px 17.7px;
}

.form__button {
  background: #FF2E63;
  border: 1px solid #FF2E63;
  border-radius: 10px;
  max-width: 224px;
  width: 100%;
  height: 59px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 800;
  color: #FFFFFF;
}

.form__button:hover {
  border: 1px solid #FF2E63;
  background: #F9F9F9;
  color: #FF2E63;
}

.form__notice {
  font-size: 10px;
  line-height: 13.62px;
  margin-top: 9px;
}

.survey-question1 {
  background: url("../img/BG.png") no-repeat center/cover;
  min-height: 740px;
  width: 100%;
  margin-top: 118px;
  margin-bottom: 100px;
}

.survey-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.survey-step__title {
  margin-top: 113px;
  max-width: 412px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.survey-step__caption {
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 700;
}

.survey-step__border {
  max-width: 528px;
  width: 100%;
  background: #f9f9f9;
  position: relative;
  top: -75px;
}

input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}

input[type="radio"]:checked + .form-survey__radio::after {
  background: #FF2E63;
}

.form-survey__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-survey__radio {
  padding: 18px 20px 20px;
}

.form-survey__radio ::before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #222222;
  left: 16px;
}

.form-survey__radio-text {
  font-size: 16px;
  line-height: 21.79px;
  margin-left: 46px;
}

.form-survey__button {
  background: #FF2E63;
  border: 1px solid #FF2E63;
  border-radius: 10px;
  max-width: 488px;
  width: 100%;
  padding: 17px 220px;
  font-size: 18px;
  line-height: 24.51px;
  color: #FFFFFF;
  margin: 25px 20px 38px;
}

.form-survey__button:hover {
  border: 1px solid #FF2E63;
  background: #F9F9F9;
  color: #FF2E63;
}

.form-survey__line {
  margin-left: 20px;
  width: 488px;
  height: 2px;
  background: rgba(34, 34, 34, 0.2);
}

.footer {
  background: #010A43;
}

.footer__body {
  color: #F9F9F9;
  font-size: 16px;
  line-height: 21.79px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 16px;
}

.footer__content {
  margin-top: 48px;
}

.footer__bottom {
  margin: 40px 0 26px;
}

.footer__copyright {
  text-align: center;
  font-weight: 700;
}

.footer__content-link {
  color: #F9F9F9;
  text-decoration: underline;
}

.webp .survey-question1 { background: url(../img/BG.webp) no-repeat center/cover; }