@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: Bold;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: ExtraBold;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: SemiBold;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #222222;
  scroll-behavior: smooth;
  z-index: 1;
  background: #f9f9f9;
}

body.active {
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__text {
  background-color: #010A43;
  height: 50px;
  font-weight: 700;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  line-height: 43.2px;
  color: #f9f9f9;
}

.header__basic {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flag {
  margin-left: 8px;
}

.survey {
  margin-top: 100px;
  margin-bottom: 169.78px;
}

.survey__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survey__preview {
  max-width: 708px;
  font-size: 16px;
  line-height: 21.79px;
}

.survey__preview-text {
  padding-bottom: 34px;
}

.survey__wrapper-img {
  margin-left: 20px;
}

.survey__preview-attention {
  font-weight: 700;
}

.form {
  margin-top: 16px;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form____info {
  margin-right: 20px;
}

.form__input {
  border: 1px solid #ADADAD;
  border-radius: 10px;
  max-width: 464px;
  width: 100%;
  padding: 21px 17.7px;
}

.form__button {
  background: #FF2E63;
  border: 1px solid #FF2E63;
  border-radius: 10px;
  max-width: 224px;
  width: 100%;
  height: 59px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 800;
  color: #FFFFFF;
  cursor: pointer;
}

.form__button:hover {
  border: 1px solid #FF2E63;
  background: #f9f9f9;
  color: #FF2E63;
}

.form__notice {
  font-size: 10px;
  line-height: 13.62px;
  margin-top: 9px;
  max-width: 460px;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: #f9f9f9;
  background-color: #FF2E63;
  border-radius: 10px;
}

.survey-question {
  background: url("../img/BG.png") no-repeat center/cover;
  min-height: 740px;
  width: 100%;
  margin-top: 118px;
  margin-bottom: 100px;
}

.survey-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.survey-step__title {
  margin-top: 113px;
  max-width: 351px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.survey-step__caption {
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 700;
}

.survey-step__border {
  max-width: 528px;
  width: 100%;
  background: #f9f9f9;
  position: relative;
  top: -75px;
  -webkit-box-shadow: -5px 2px 30px;
          box-shadow: -5px 2px 30px;
}

.form-survey__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 33px 20px 30px;
}

.form-survey__radio {
  padding: 18px 0 20px;
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
}

.form-survey__radio ::before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #222222;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-survey__radiotext {
  font-size: 16px;
  line-height: 21.79px;
  margin-left: 46px;
}

.form-survey__button {
  background: #FF2E63;
  border: 1px solid #FF2E63;
  border-radius: 10px;
  max-width: 488px;
  width: 100%;
  padding: 17px 220px;
  margin-top: 25px;
  font-size: 18px;
  line-height: 24.51px;
  color: #FFFFFF;
  cursor: pointer;
}

.form-survey__button:hover {
  border: 1px solid #FF2E63;
  background: #f9f9f9;
  color: #FF2E63;
}

.form-survey__line {
  margin-left: 20px;
  width: 488px;
  height: 2px;
  background: rgba(34, 34, 34, 0.2);
}

.form-survey__textarea {
  margin-top: 15px;
  max-width: 488px;
  min-height: 200px;
  border: 2px solid rgba(34, 34, 34, 0.2);
  border-radius: 10px;
  padding: 15px;
}

.form-survey__textarea.hide {
  display: none;
}

input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="radio"]:checked + label ::before {
  background: #FF2E63;
}

.endStep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.survey-endstep__title {
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 700;
  border-bottom: 2px solid #666666;
  padding: 128px 0 48px;
}

.survey-endstep__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #666666;
  padding-bottom: 39.18px;
  margin-bottom: 100px;
}

.survey-endstep__progressbar {
  padding: 118px 0 48px;
}

.survey-endstep__processing {
  max-width: 711px;
  width: 100%;
  margin-right: 97.02px;
}

.survey-endstep__text {
  font-size: 16px;
  line-height: 21.79px;
  text-align: left;
  margin-bottom: 19px;
}

.survey-endstep__picture {
  max-width: 407px;
  width: 100;
}

.publicity {
  padding: 100px 0;
  background-color: rgba(1, 10, 67, 0.05);
}

.publicity__border {
  background-color: #f9f9f9;
  padding: 32px 102px;
  border: 2px solid #F9F9F9;
  margin-bottom: 24px;
}

.publicity__poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publicity__img {
  max-width: 386px;
  width: 100%;
}

.publicity__content {
  max-width: 488px;
}

.publicity__title {
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 700;
  margin-bottom: 25px;
}

.publicity__text {
  font-size: 16px;
  line-height: 21.79px;
  margin-bottom: 45px;
}

.publicity__price {
  font-size: 16px;
  line-height: 21.79px;
  margin-bottom: 22px;
}

.publicity__button {
  background: #FF2E63;
  border: 1px solid #FF2E63;
  border-radius: 10px;
  max-width: 488px;
  width: 100%;
  padding: 17px 181px;
  font-size: 18px;
  line-height: 24.51px;
  color: #FFFFFF;
  cursor: pointer;
}

.publicity__button:hover {
  border: 1px solid #FF2E63;
  background: #f9f9f9;
  color: #FF2E63;
}

.red {
  color: #FE1010;
  text-decoration: line-through;
}

.green {
  color: #00A944;
}

.review {
  padding: 100px 220px;
}

.review__body {
  max-width: 712px;
  margin: 0 auto;
}

.review__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #c4c4c4;
}

.review__box:last-child {
  border-bottom: 2px solid #c4c4c4;
}

.review__about {
  max-width: 549px;
  width: 100%;
}

.review__name {
  font-size: 24px;
  line-height: 32.68px;
  font-weight: 600;
  margin-top: 16px;
}

.review__text {
  font-size: 16px;
  line-height: 21.79px;
  margin-top: 8px;
}

.review__data {
  font-size: 16px;
  line-height: 21.79px;
  color: #ae9c9c;
  margin: 16px 0;
}

.survey-finish__title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
  margin: 100px  0 48px;
}

.survey-finish__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-top: 2px solid #C4C4C4;
  border-bottom: 2px solid #C4C4C4;
  margin-bottom: 100px;
}

.survey-finish__about {
  max-width: 711px;
  width: 100%;
}

.survey-finish__text {
  font-size: 16px;
  line-height: 21.79px;
  margin-bottom: 25px;
}

.survey-finish__text span {
  font-weight: 700;
}

.survey-finish__picture {
  max-width: 407px;
  width: 100%;
}

#content {
  width: 100%;
  /* Full Width */
  height: 5px;
  margin: 50px auto;
  background: #000;
}

#loadingProgressG {
  width: 711px;
  height: 10px;
  overflow: hidden;
  background-color: rgba(34, 34, 34, 0.2);
  margin: auto;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.loadingProgressG {
  background-color: #FF2E63;
  margin-top: 0;
  margin-left: -711px;
  animation-name: bounce_loadingProgressG;
  -o-animation-name: bounce_loadingProgressG;
  -ms-animation-name: bounce_loadingProgressG;
  -webkit-animation-name: bounce_loadingProgressG;
  -moz-animation-name: bounce_loadingProgressG;
  animation-duration: 8.0s;
  -o-animation-duration: 8.0s;
  -ms-animation-duration: 8.0s;
  -webkit-animation-duration: 8.0s;
  -moz-animation-duration: 8.0s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  width: 711px;
  height: 10px;
}

@keyframes bounce_loadingProgressG {
  0% {
    margin-left: -711px;
  }

  100% {
    margin-left: 711px;
  }
}

@-webkit-keyframes bounce_loadingProgressG {
  0% {
    margin-left: -711px;
  }

  100% {
    margin-left: 711px;
  }
}

.footer {
  background: #010A43;
}

.footer__body {
  color: #F9F9F9;
  font-size: 16px;
  line-height: 21.79px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 16px;
}

.footer__content {
  margin-top: 48px;
}

.footer__bottom {
  margin: 40px 0 26px;
}

.footer__copyright {
  text-align: center;
  font-weight: 700;
}

.footer__content-link {
  color: #F9F9F9;
  text-decoration: underline;
}

@media screen and (max-width: 1201px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .survey__start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .survey__wrapper-img {
    margin-bottom: 50px;
  }

  .survey-question {
    margin-top: 50px;
  }

  .survey-step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .survey-step__title {
    text-align: center;
    margin-bottom: 36px;
    margin-top: 68px;
  }

  .survey-step__border {
    position: static;
  }

  .publicity__poster {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .publicity__img {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 738px;
  }

  .review__box {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .form__wrapper {
    display: block;
    text-align: center;
  }

  .form__notice {
    margin: 9px auto;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 546px;
  }

  .header__text {
    font-size: 24px;
  }
}

@media screen and (max-width: 430px) {
  .header__basic {
    max-width: 120px;
  }

  .header__wrapper {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}

.webp .survey-question { background: url(../img/BG.webp) no-repeat center/cover; }